In [ ]:
pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.9/dist-packages (4.13.0)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.9/dist-packages (from tweepy) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27.0->tweepy) (3.4)

In [ ]:
import pandas as pd
import tweepy
import numpy as np

In [ ]:
api_key = 'xxx'
api_key_secret = 'xxx'
access_token = 'xxx'
access_token_secret = 'xxx'

In [ ]:
#authentication
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [ ]:
users_info=pd.read_csv('users_info_covid.csv')
users_info=users_info.drop('Unnamed: 0', axis=1)

In [ ]:
users_info.head()

        user_id      screen_name
0  1.425458e+18        marsons80
1  1.425458e+18        marsons80
2  7.758061e+17  BourgaultGilles
3  1.330424e+18      ThePurrrple
4  1.345074e+18    GENERALBUNGTM

In [ ]:
location = []
description = []
verified = []
followers_count = []
friends_count = []
listed_count = []
created_at = []
statuses_count = []
favourites_count = []

for index, row in users_info.iterrows():
  id = row['user_id']
  name = row['screen_name']
  try:
    user = api.get_user(screen_name=name)
    location.append(user.location)
    description.append(user.description)
    verified.append(user.verified)
    followers_count.append(user.followers_count)
    friends_count.append(user.friends_count)
    listed_count.append(user.listed_count)
    created_at.append(user.created_at)
    statuses_count.append(user.statuses_count)
    favourites_count.append(user.favourites_count)
  except:
    location.append(np.nan)
    description.append(np.nan)
    verified.append(np.nan)
    followers_count.append(np.nan)
    friends_count.append(np.nan)
    listed_count.append(np.nan)
    created_at.append(np.nan)   
    statuses_count.append(np.nan)
    favourites_count.append(np.nan)

In [ ]:
users_info.shape

(1591, 2)

In [ ]:
users_info['location'] = location #the user-defined location for this accountâ€™s profile
users_info['description'] = description
users_info['verified'] = verified #the blue checkmark
users_info['followers_count'] = followers_count #the number of followers
users_info['friends_count']=friends_count #the number of followed accounts
users_info['listed_count']=listed_count
users_info['created_at']=created_at
users_info['statuses_count']=statuses_count #The number of Tweets (including retweets) issued by the user
users_info['favourites_count'] = favourites_count #favourites_count

In [ ]:
users_info.head()

,user_id,screen_name,location,description,verified,followers_count,friends_count,listed_count,created_at,statuses_count,favourites_count
0,1.425458e+18,marsons80,Tumba,,False,284.0,97.0,4.0,2021-08-11 14:03:05+00:00,13581.0,38031.0
1,1.425458e+18,marsons80,Tumba,,False,284.0,97.0,4.0,2021-08-11 14:03:05+00:00,13581.0,38031.0
2,7.758061e+17,BourgaultGilles,,A adult is someone who take responsibility for...,False,203.0,35.0,12.0,2016-09-13 21:19:32+00:00,57575.0,28654.0
3,1.330424e+18,ThePurrrple,Silent Hill,"Ancient, Mixed Race, ACE, Intersex, Retired Se...",False,463.0,360.0,2.0,2020-11-22 08:12:11+00:00,21266.0,9653.0
4,1.345074e+18,GENERALBUNGTM,"Calgary, Alberta",Progressive Conservative. Instagram chef. Oile...,False,65.0,104.0,1.0,2021-01-01 18:27:48+00:00,9061.0,11596.0

In [ ]:
users_info.to_csv('users_info_covid_extra.csv')